timezone: UTC       # see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
language: en        # "en" for English, "cs" for Czech

sources:
  Personal:         # Name of server (can be anything, but must be unique)
    type: server
    user: "your user name"
    url: "https://your-caldav-server.com/dav"
    password: "your password"
  #Work:
  #  type: server
  #  user: "your user name"
  #  url: "https://work-caldav-server.com/dav"
  #  password: "your password"

# iCloud example:
#  iCloud:
#    type: server
#    user: "your@apple.id"
#    url: "https://caldav.icloud.com"
#    password: "your-app-specific-password"
